
#Hello {
    color: black;
}
.btn-xlg {
    padding:20px;
    background-color: #245a8b;
}
.glyphicon-earphone {
    padding-left:10px;
    padding-right:10px;
}

.background-picture {
   /* background: url(../images/backtrans.png);
    background-size: 100%;
    */
    min-height: 100%;
    padding-top: 130px;
    text-align: center;
    padding-bottom: 240px;
}
body {
background: url(../images/backtrans.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


.container .dropdown-menu {
    top: initial;
}

.container .navbar-right .dropdown-menu {
    right: inherit;
}

#keyword{
    width: 80%;
}

.red {
    color: #d14;
    font-size: 20pX;
}

.adverstisement {
    border: none;
}

legend {
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    color: #67676b;
    font-size: 28px;
}

.btn-primary {
    top: 5px;
}

.help {
    display:none;     font-size:90%;
}

input:focus + .help {
    display:inline-block;
}

/*input:required {
    background: hsl(21, 63%, 85%);     border:1px solid #999;
}*/

.navbar-header {
    float: left;
    margin-left: 10px;
}

textarea:focus, input:focus {
    color: black;
}

textarea:hover, input:hover {
    color: black;
}

textarea, input {
    color: black;
}

.black-field {
    color: black;
}

.inputColor{
    border-color: #245A8B;
}

#inputColor{
    border-color: #245A8B;
    border: 1px solid #245A8B;
}