.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
    padding-top: 18px;
    padding-left: 30px;
    border-style: solid;
    border-width: 3px;
    margin-top:10px;
    border-color: white;
    border-radius: 8px;
}
.rating-input {
    float: right;
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}

.send-btn {
    float: right;
}

.review-header {
    font-size: 48px;
    color: black;
    margin-bottom: 10px;
}
