@(join: Application.OfferJoinUser)
@main("main page") {
  @{if(!session().isEmpty()) views.html.navigationLoggedIn()}
  <div class="row top-buffer30 border top-buffer10 back">
    <div class="col-md-offset-1 col-md-11">
  <div class="row top-buffer30">
    <h2>You accepted the Offer from Mr./Mrs. @join.u_lastName</h2>
    <h3>You also recieved an email with following details. To finalize the job, come back to this website</h3>
  </div>
      <div class="row top-buffer30">
        <div class="col-md-offset-1 col-md-2">
          <label>Job Title:  </label>
        </div>
        <div class="col-md-7">
          <p class="text-left">@join.o_title</p>
        </div>
      </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <label>Date:</label>
    </div>
    <div class="col-md-5">
      <p class="text-left">@join.getStringDate</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <label>Description:</label>
    </div>
    <div class="col-md-7">
      <p class="text-left">@join.o_description</p>
    </div>
    </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <label>Duration:</label>
    </div>
    <div class="col-md-7">
      <p class="text-left">@join.o_duration hours</p>
    </div>
    </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <label>Payment:</label>
    </div>
    <div class="col-md-7">
      <p class="text-left">@join.o_rph Euro/hour</p>
    </div>
    </div>

  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <label>City:</label>
    </div>
    <div class="col-md-7">
      <p class="text-left">@join.u_postalCode @join.u_city</p>
    </div>

    </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-2">
      <label>Street:</label>
    </div>
    <div class="col-md-7">
      <p class="text-left">@join.u_streetName @join.u_houseNumber</p>
    </div>

    </div>


    <h3>Contact Details</h3>
    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label>Last Name:</label>
      </div>
      <div class="col-md-7">
        <label class="text-left">@join.u_lastName</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label>First Name:</label>
      </div>
   <div class="col-md-7">
    <label class="text-left">@join.u_name</label>
    </div>
  </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <label>Email:</label>
      </div>
      <div class="col-md-7">
        <label class="text-left">@join.u_email</label>
      </div>
    </div>
    </div>
  </div>
  <div class="row top-buffer30">
  <a href="#"><button class="btn">Job finished</button></a>
  </div>
}