@(message : String, username: String, name: String, lastName: String, streetName: String, houseNumber: String, postalCode: String, city:String,
        phoneNumber: String, email: String)

@main("Edit Profile") {
  @helper.form(routes.Application.updateProfile()){
    <div class="header">
        <!--<div class="container">-->
      <legend>@message</legend>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="errorMessages">
            <div class="form-group">
              <input class="form-control1" name="username" value="@username" required>
            </div>
            <div class="form-group">
              <input type = password input class="form-control1" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
              <input class="form-control1" name="name" value="@name" required>
            </div>
            <div class="form-group">
              <input class="form-control1" name="lastName" value="@lastName" required>
            </div>
            <div class="dataForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control1" name="streetName" value="@streetName" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control1" name="houseNumber" value="@houseNumber" required>
                  </div>
                </div>

              </div>
            </div>
            <div class="dataForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control1" name="city" value="@city" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control1" name="postalCode" value="@postalCode" required>
                  </div>
                </div>

              </div>
            </div>
            <div class="form-group">
              <input class="form-control1" name="phoneNumber" value="@phoneNumber" required>
            </div>
            <div class="form-group">
              <input class="form-control1" name="email" value="@email" required>
            </div>

            <div class="row">
              <div class="col-md-6 form-group">
                <button type="submit" class="btn btn-success form-control" name="update">Save Changes</button>
              </div>}
  @helper.form(routes.Application.myProfile()){
    <div class="col-md-6 form-group">
      <button class="btn btn-danger form-control">Cancel</button>
    </div>}
</div>
</ul>
</div>
  <div class="col-md-6">
    <div class="adverstisement">
      <div class="thumbnail">
        <img src="@routes.Assets.at("search/images/white-square.png")">

      </div>
    </div>
  </div>
</div>
</div>

}
