@(message : String, title: String, description: String, rph: Integer, duration: Integer, id: Integer, permanent: Integer)

@main("Edit Offer") {
  @if(session().isEmpty!=true){
    @views.html.navigationLoggedIn()
  }
  @helper.form(routes.Application.updateValues()){
    <div class="header">
        <!--<div class="container">-->
      <legend>@message</legend>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control1" name="title" value="@title" required>
          </div>
          <div class="form-group">
            <textarea class="form-control1" name="description" rows="7" required>@description</textarea>
          </div>

          <div class="dataForm">
            <div class="row">
              <div class="col-md-4">
                <select class="form-control1 form-group placeholder" name="date" required>
                  <option value="" selected disabled>date</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div>
              <div class="col-md-4">
                <select class="form-control1 form-group placeholder" name="month" required>
                  <option value="" selected disabled>month</option>
                  <option value="1">january</option>
                  <option value="2">february</option>
                  <option value="3">march</option>
                  <option value="4">april</option>
                  <option value="5">may</option>
                  <option value="6">june</option>
                  <option value="7">july</option>
                  <option value="8">august</option>
                  <option value="9">september</option>
                  <option value="10">october</option>
                  <option value="11">november</option>
                  <option value="12">december</option>
                </select>
              </div>
              <div class="col-md-4">
                <select class="form-control1 form-group placeholder" name="year" required>
                  <option value="" selected disabled>year</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control1" value="@rph" name="payment" id="payment" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input class="form-control1" value="@duration" name="duration" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <label class="checkbox-inline form-control black-field"><input type="checkbox" value="@permanent"
              name="permanent">Permanent Offer</label>
            </div>
            <div class="col-md-6">
              <select class="form-control form-group placeholder black-field" name="often">
                <option value="" selected disabled>How Often</option>
                <option value="1">every day</option>
                <option value="2">every week</option>
                <option value="3">every two weeks</option>
                <option value="4">every month</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <button type="submit" class="btn btn-success form-control" name="update" value="@id">Save Changes</button>
            </div>}
  @helper.form(routes.Application.myOffers()){
    <div class="col-md-6 form-group">
      <button class="btn btn-danger form-control">Cancel</button>
    </div>}
</div>
</div>
  <div class="col-md-6">
    <div class="adverstisement">
      <div class="thumbnail">
        <img src="@routes.Assets.at("search/images/white-square.png")">

      </div>
    </div>
  </div>
</div>
</div>

}
