@main("main page") {
    @{if(!session().isEmpty()) views.html.navigationLoggedIn()}
                <div class="row">
                    <div class="col-lg-12">
                        <p class="black"> Helping People</p>
                    </div>
                    <div class="col-lg-12">
                        <p class="black"> Being Social </p>
                    </div>
                    <div class="col-lg-12">
                        <p class="black"> Earning Money </p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                           <a href="/knowmore" ><button type="button" class="btn btn-lg">I want to know more</button></a>
                        </div>
                    </div>
                </div>
    @if(flash.contains("success")) {
            <div class="red">
        @flash.get("success")
        </div>
    }

                <div class="row top-buffer100">
                @helper.form(routes.Application.searchOffer(), 'class -> "form-inline"){
                    <div class="col-lg-6">
                        <input class="form-control inputColor" id="keyword" name="keyword" placeholder="Keywords">

                    </div>
                    <div class="col-lg-3">
                    <!-- <input data-provide="datepicker" class="form-control" name="date" placeholder="Date"> -->
                        <div class="input-group date" id ="dateDiv">
                            <input type="text" id="searchDate" name="date" class="form-control inputColor" placeholder="date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <script>
                            $('.input-group.date').datepicker({
                            format: "dd/mm/yyyy",
                            clearBtn: true,
                            autoclose: true,
                            todayHighlight: true
                            });</script>
                    </div>
                    <div class="col-lg-3">
                     <!--   <input class="form-control" name="rph" placeholder="Rate per hour"> -->
                        <label>Rate per Hour</label>
                        <input type="text" name="rph" class="span2 slider" value="1" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"
                        data-slider-orientation="horizontal" data-slider-selection="after" >

                        <script>
                            $('.slider').slider()
                        </script>
                    </div>
                </div>

                <div class="row top-buffer30">
                    <div class="col-md-offset-9 col-md-3">
                        <button id="submit" type="submit" value="Submit" class="btn btn-primary">Search Offers</button>
                    </div>
                </div>
    }
}






