@main("main page") {
  @{if(!session().isEmpty()) views.html.navigationLoggedIn()}
  <div class="row">
    <div class="col-lg-12">
      <p class="black"> AuxiliTUM is a social service to help people with disabilities to do their household work with
        the help of students for a small fee.
      </p>
    </div>
  </div>

}



