@(newLoginForm: Form[Application.Login],message : String)

@main("Login") {

  @helper.form(routes.Application.authenticate()){
    <div class="header">
        <!--<div class="container">-->
      <legend>@message</legend>
    </div>
    @if(newLoginForm.hasGlobalErrors) {
      <div class="red">
      @newLoginForm.globalError.message
      </div>
    }
    @if(flash.contains("success")) {
      <div class="red">
      @flash.get("success")
      </div>
    }
    <br>
    <div class="container">
      <div class="row">
        <ul class="errorMessages">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control1" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
              <input type = password input class="form-control1" name="password" placeholder="Password" required>
            </div>
            <div class="row">
              <div class="col-md-6 form-group">
                <button type="submit" class="btn btn-success form-control">Login</button>
              </div>}
              @helper.form(routes.Application.index()){
                <div class="col-md-6 form-group">
                  <button class="btn btn-danger form-control">Cancel</button>
                </div>}
            </div>
          </div>
        </ul>
      </div>
    </div>

}
