@(name : String, createdOffers: List[Offer], acceptedOffers: List[Offer])
@main("My Offers") {
  @views.html.navigationLoggedIn()
    <div class="header">
        <!--<div class="container">-->
      <legend>@name´s Offers</legend>
      <div class="container">
        <div class="form-group">
          <div class="thumbnail">
            <div class="black2">
            <div class="text-left">
            <h3><u>Own Offers - @createdOffers.size Offer(s)</u></h3>
            </div>
            </div>
            <div class="black2">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Rate/h</th>
                  <th>Duration</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              @for(index <- 0 until createdOffers.size) {
                <tr>
                  <td><div class="text-left">@index</div></td>
                  <td><div class="text-left">@createdOffers(index).title</div></td>
                  <td><div class="text-left">@createdOffers(index).getStringDate</div></td>
                  <td><div class="text-left">@createdOffers(index).rph €</div></td>
                  <td><div class="text-left">@createdOffers(index).duration</div></td>
                  @helper.form(routes.Application.editOffer()){
                  <td><button type="submit" name="edit" value="@createdOffers(index).id" class="btn btn-success form-control">Edit</button></td>}
                  @helper.form(routes.Application.deleteOffer()){
                  <td><button type="submit" name="delete" value="@createdOffers(index).id" class="btn btn-danger form-control">Delete</button></td>}
                </tr>
                }
              </tbody>
            </table>
              @if(createdOffers.isEmpty){
                <div class="text-center">
                  No offers created.
                </div>
              }
            </div>
              <br>
            <div class="black2">
              <div class="text-left">
                <h3><u>Accepted Offers - @acceptedOffers.size Offer(s)</u></h3>
              </div>
            </div>
              <div class="black2">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Rate/h</th>
                    <th>Duration</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                @for(index <- 0 until acceptedOffers.size) {
                  <tr>
                    <td><div class="text-left">@index</div></td>
                    <td><div class="text-left">@acceptedOffers(index).title</div></td>
                    <td><div class="text-left">@acceptedOffers(index).getStringDate</div></td>
                    <td><div class="text-left">@acceptedOffers(index).rph €</div></td>
                    <td><div class="text-left">@acceptedOffers(index).duration</div></td>
                      @helper.form(routes.Application.renderRate()){
                        @if(Rating.find.where().eq("idWorker", acceptedOffers(index).acceptedBy).eq("idHost", acceptedOffers(index).createdBy).findUnique()==null){
                    <td><button id="dec" type="submit" name="rate@index" value="@acceptedOffers(index).id"
                    class="btn btn-success form-control">Rate</button></td>}}
                    @helper.form(routes.Application.declineOffer()){
                    <td><button type="submit" name="decline" value="@acceptedOffers(index).id"
                    class="btn btn-danger form-control">Decline</button></td>}
                  </tr>
                }
                </tbody>
              </table>
                @if(acceptedOffers.isEmpty){
                  <div class="text-center">
                    No offers accepted.
                  </div>
                }
                </div>
          </div>
        </div>
      </div>

</div>

}
