@(newProfileForm: Form[User],username : String, name:String, lastName: String, streetName: String, houseNumber: String,
        postalCode: String, city: String, phoneNumber: String, email: String, rating:Double)

@main("Profile") {
  @views.html.navigationLoggedIn()
    <div class="header">
        <!--<div class="container">-->
      <legend>@name´s Profile</legend>
      <br>
    </div>
<div class = container >
  <div class="form-group" >
        <div class="thumbnail">
          <br>
      <div class="row">
      <div class="col-md-4">
      <div class = black1>
        <p class="text-right">
        <strong>Username:</strong>
        </p>
        </div>
        </div>
        <div class="col-md-4">
          <div class = black1>
        <p class="text-left">
          @username
        </p>
          </div>
          </div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="col-md-6 form-group">
            @helper.form(routes.Application.editProfile()){
            <button type="submit" class="btn btn-success form-control">Edit</button>}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class = black1>
            <p class="text-right">
              <strong>Name:</strong>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class = black1>
            <p class="text-left">
              @name @lastName
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class = black1>
            <p class="text-right">
              <strong>Address:</strong>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class = black1>
            <p class="text-left">
              @streetName @houseNumber<br>
              @postalCode @city
            </p>
          </div>
        </div>
      </div>
          <div class="row">
            <div class="col-md-4">
              <div class = black1>
                <p class="text-right">
                  <strong>Phone Number:</strong>
                </p>
              </div>
            </div>
            <div class="col-md-4">
              <div class = black1>
                <p class="text-left">
                @phoneNumber
                </p>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-md-4">
          <div class = "black1">
            <p class="text-right">
              <strong>Email:</strong>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class = "black1">
            <p class="text-left">
              @email
            </p>
          </div>
        </div>
      </div>
          <div class="row">
             <input id="input-5b" class="rating" value="@rating" data-min="0" data-max="5" data-step="0.5"
             data-size="sm" data-disabled="true">
          <br>
        </div>
      </div>
  </div>
  </div>


}