<nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header page-scroll">
        <a href="/"><img style="margin-left:25px" class="img-responsive" src="@routes.Assets.at("search/images/AuxiliTUM.png")" alt="AuxiliTUM" height="10" width="300"></a>
    </div>
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->

        <a  class="btn btn-primary btn-xlg" href="tel:089/5734">
        Contact Us <span class="glyphicon glyphicon-earphone"></span>089/5734</a>
            <!-- Collect the nav links, forms, and other content for toggling -->


        <ul id="nav_loggedOut" class="nav navbar-nav navbar-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Login
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/registration">Register</a></li>

            </ul>


        </ul>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

