@(newOfferForm: Form[Offer],message : String)
@main("Offer catalogue") {
  @if(session().isEmpty!=true){
    @views.html.navigationLoggedIn()
  }
  @helper.form(routes.Application.saveValues()){
    <div class="row">
      <div class="col-md-6">
        <legend>@message</legend>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input class="form-control black-field" name="title" placeholder="Job Title" aria-describedby="jobtitle-format" required aria-required="true">
        </div>
        <div class="form-group">
          <textarea class="form-control black-field" name="description" placeholder="Description" rows="7" required aria-required="true"></textarea>
        </div>
        <div class="dataForm">
          <div class="row">
            <div class="col-md-4">
              <select class="form-control form-group placeholder black-field" name="date" required aria-required="true">
                <option value="" selected disabled>date</option>
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
                <option value="05">05</option>
                <option value="06">06</option>
                <option value="07">07</option>
                <option value="08">08</option>
                <option value="09">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="form-control form-group placeholder black-field" name="month" required aria-required="true">
                <option value="" selected disabled>month</option>
                <option value="01">january</option>
                <option value="02">february</option>
                <option value="03">march</option>
                <option value="04">april</option>
                <option value="05">may</option>
                <option value="06">june</option>
                <option value="07">july</option>
                <option value="08">august</option>
                <option value="09">september</option>
                <option value="10">october</option>
                <option value="11">november</option>
                <option value="12">december</option>
              </select>
            </div>
            <div class="col-md-4">
              <select class="form-control form-group placeholder black-field" name="year" required aria-required="true">
                <option value="" selected disabled>year</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control black-field" type="number" placeholder="Payment Rate per hour" name="payment" id="payment" min="0" aria-describedby="payment-format" required aria-required="true" pattern="[0-9]+" title="Please, input the field with digits">
              <span id="payment-format" class="help">Only digits are allowed.</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control black-field" type="number" placeholder="Duration (in hours)" name="duration" min="0" max="24" aria-describedby="duration-format" required aria-required="true" pattern="[0-9]+" title="Please, input the field with digits">
              <span id="duration-format" class="help">Only digits are allowed.</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="checkbox-inline form-control black-field"><input type="checkbox" value="1" name="permanent">Permanent Offer</label>
          </div>
          <div class="col-md-6">
            <select class="form-control form-group placeholder black-field" name="howOften">
              <option value="" selected disabled>How Often</option>
              <option value="1">every day</option>
              <option value="2">every week</option>
              <option value="3">every two weeks</option>
              <option value="4">every month</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <button type="submit" class="btn btn-success form-control">Create</button>
          </div>}
          @helper.form(routes.Application.index()){
            <div class="col-md-6 form-group">
              <button class="btn btn-danger form-control">Cancel</button>
            </div>}
        </div>
      </div>
      <div class="col-md-6">
        <div class="adverstisement">
            <img src="@routes.Assets.at("search/images/Handicapped_Accessible_sign.svg")">
        </div>
      </div>
    </div>
  </div>

}
