@main("main page") {
    @{if(!session().isEmpty()) views.html.navigationLoggedIn()}
    @helper.form(routes.Application.rate()) {
        <div class="form-group">
            <div class="review-header"> Please rate this offer </div>
            <textarea class="form-control" name="description" placeholder="Your comment" rows="7" required aria-required="true"></textarea>
            <span class="rating">
                <input type="radio" class="rating-input"
                id="rating-input-1-5" name="rating-input-1" value="5"/>
                <label for="rating-input-1-5" class="rating-star"></label>
                <input type="radio" class="rating-input"
                id="rating-input-1-4" name="rating-input-1" value="4"/>
                <label for="rating-input-1-4" class="rating-star"></label>
                <input type="radio" class="rating-input"
                id="rating-input-1-3" name="rating-input-1" value="3"/>
                <label for="rating-input-1-3" class="rating-star"></label>
                <input type="radio" class="rating-input"
                id="rating-input-1-2" name="rating-input-1" value="2"/>
                <label for="rating-input-1-2" class="rating-star"></label>
                <input type="radio" class="rating-input"
                id="rating-input-1-1" name="rating-input-1" value="1"/>
                <label for="rating-input-1-1" class="rating-star"></label>
            </span>
            <div class="row">
                <div class="col-md-3 form-group send-btn">
                    <button type="submit" class="btn btn-success form-control">Send</button>
                </div>
            </div>
        </div>
    }
}
