@(newRegistrationForm: Form[User], message: String)

@main("Registration") {
    @helper.form(routes.Application.registerNewUser()) {
        <div class="header">
                <!--<div class="container">-->
            <legend>@message</legend>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="errorMessages">
                        <div class="form-group">
                            <input class="form-control1" name="username" placeholder="Username" required>
                            @if(flash.contains("existingUser")) {@flash.get("existingUser")}</div>
                        <div class="form-group">
                            <input type = password input id="password" class="form-control1" name="password" placeholder="Password"
                            required>
                        </div>
                        <div class="form-group">
                            <input type = password input class="form-control1" name="passwordConfirm" placeholder="Confirm" required>
                            @if(flash.contains("difPasswords")) {@flash.get("difPasswords")}</div>

                        <div class="dataForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <select class="form-control1 form-group placeholder" name="userType" required>
                                        <option value=-1 selected disabled>User Type</option>
                                        <option value=0>Disabled Person</option>
                                        <option value=1>Student</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control1" name="name" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control1" name="lastName" placeholder="Lastname" required>
                        </div>
                        <div class="dataForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control1" name="streetName" placeholder="Streetname" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control1" name="houseNumber" placeholder="House Number" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="dataForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control1" name="city" placeholder="City" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="number" class="form-control1" name="postalCode" placeholder="Postal Code" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-control1" name="phoneNumber" placeholder="Phone Number" required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control1" name="email" placeholder="Email" required>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <button type="submit" class="btn btn-success form-control">Create</button>
                            </div>}
    @helper.form(routes.Application.index()) {
        <div class="col-md-6 form-group">
            <button class="btn btn-danger form-control">Cancel</button>
        </div>
    }
</div>
</ul>
</div>
    <div class="col-md-6">
        <div class="adverstisement">
                <img src="@routes.Assets.at("search/images/Handicapped_Accessible_sign.svg")">
        </div>
    </div>
</div>
</div>
}