@(list: List[Application.OfferJoinUser])
@main("main page") {
    @{if(!session().isEmpty()) views.html.navigationLoggedIn()}
    <div class="row top-buffer30">
    @helper.form(routes.Application.searchOffer(), 'class -> "form-inline"){
        <div class="row">
            <div class="col-lg-6">
                <input class="form-control inputColor" id="keyword" name="keyword" placeholder="Keywords">
            </div>
        <div class="col-lg-3">
            <div class="input-group date" id ="dateDiv">
                <input type="text" id="searchDate" name="date" class="form-control inputColor" placeholder="date"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <script>
                            $('.input-group.date').datepicker({
                            format: "dd/mm/yyyy",
                            clearBtn: true,
                            autoclose: true,
                            todayHighlight: true
                            });
            </script>
        </div>
        <div class="col-lg-3">
                <!--   <input class="form-control" name="rph" placeholder="Rate per hour"> -->
            <label>Rate per Hour</label>
            <input type="text" name="rph" class="span2 slider" value="1" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"
            data-slider-orientation="horizontal" data-slider-selection="after" >

            <script>
            $('.slider').slider()
            </script>
        </div>
        </div>


        <div class="row collapse filters">
            <div class="col-lg-offset-1 col-lg-2">
                <input class="form-control inputColor" id="username" name="username" placeholder="Username">
            </div>
            <div class="col-lg-offset-1 col-lg-2 checkbox">
                <label><input type="checkbox" is="permanemt" name="permanent" value="1">  Only Permanent Offers</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-5 col-md-2">
                <input style="padding-top: 6px; padding-bottom:6px" type="button" class="btn" data-toggle="collapse" data-target=".filters" value="More Filters">
            </div>
        </div>

        <div class="row top-buffer30">
            <div class="col-md-offset-4 col-md-4">
                <button id="submit" type="submit" value="Submit" class="btn btn-primary">Search Offers</button>
            </div>
        </div>
    }
    </div>




    <div class="row">
    @for(index <- 0 until list.size) {
        <div class="row top-buffer30 border top-buffer10 back">
            <!-- THE HEADLINE -->
            <div class="row">
                <div class="col-md-offset-1 col-md-8">
                    <h3>@list(index).o_title</h3>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <h4>@list(index).o_rph Euro / hour</h4>
                </div>
            </div>
            <!-- THE SHORT VERSION -->
            <div id="toggleDemo@index" class="row collapse in collap@index">
                <div class="col-md-offset-1 col-md-8">
                    <p>@list(index).getShorttext() </p>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <p> x Ratings</p>
                    <p> x Stars</p>
                </div>
            </div>

            <!-- THE LONG VERSION -->
            <div id="toggleDemo@index" class="row collapse collap@index">
                <div class="col-md-offset-1 col-md-8">
                    <p>@list(index).o_description</p>
                <div class="row">
                    <div class="col-md-3">
                        <label>Date: </label><p>@list(index).getStringDate</p>
                    </div>
                    <div class="col-md-3">
                        <label>Duration: </label><p>@list(index).o_duration hours</p>
                    </div>

                    <div class="col-md-3">
                        @{
                            if(list(index).o_permanent == 1){
                                <label>This is a permanent Offer</label>
                            }
                        }
                    </div>

                </div>
                </div>

                <div class="col-md-2 col-md-offset-1">
                    <p>Rating stars</p>
                    <p> x Ratings</p>
                    <label>Username:</label>
                    <p>@list(index).u_username</p>
                </div>
            </div>

            <div class="row collapse in collap@index">
                <div class="col-md-offset-1 col-md-8">
                <input type="button" class="btn" data-toggle="collapse" data-target=".collap@index" value="More details">
                </div>
            </div>
            <div class="row collapse collap@index">
                <div class="col-md-offset-1 col-md-8">
                <input type="button" class="btn" data-toggle="collapse" data-target=".collap@index" value="Less details">
                </div>
                <div class="col-md-offset-1 col-md-2">
                    <a href="@routes.Application.acceptOffer(list(index).o_id, list(index).u_id)"><button class="btn btn-primary" style="padding-top:3px; padding-bottom:3px"> Accept Offer </button></a>
                </div>
            </div>
        </div>
}
    </div>
}