@(field: Field, label:String, placeholder:String, help:String)


<div class="control-group @if(field.hasErrors) {error}">
  <label class="control-label"></label>
  <div class="controls">
    <input
    class="form-control"
    type="text"
    id="@field.id"
    name="@field.name"
    value=""
    placeholder="@field.name" />
    <p class="help-block"></p>
    <p class="help-block">@{field.error.map { error => error.message }}</p>
  </div>
</div>